<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="lib/vue-2.5.22.js" ></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="firstName"/>+
			<input type="text" v-model="secondName" />=
			<input type="text" v-model="lastName"/>
			<p>{{lastName}}</p>
		</div>
		<script>
			new Vue({
				el:'#app',
				data:{
					firstName:'',
					secondName:'',
				},
				methods:{},
				computed:{
					lastName:function(){
						console.log("只执行一次监听");
						return this.firstName+'--'+this.secondName;
					}
				},
				watch:{
					
				}
			})
		</script>
	</body>
</html>
